##Variables

In [1]:
#valid variable declaration‚úÖ
user_name = "Alice"
age = 30
_total = 100.5
user2 = "Bob"
first_name = "John"

In [2]:
"""Invalid variable declaration‚ùå"""
2user = "Alice"       # Invalid: starts with a number
first-name = "John"   # Invalid: contains a hyphen
total$ = 100.5        # Invalid: contains a special character $
class = "Class"       # Invalid: 'class' is a reserved keyword

SyntaxError: invalid decimal literal (<ipython-input-2-fe49d7b71272>, line 2)

In [26]:
#mutliple declarations in single line
even,odd = 4,7

#mutliple declarations with single value in single line
x = y = 2

##Data Types

In [3]:
# Integer
age = 30

# Float
pi = 3.14159

# String
greeting = "Hello, World!"

# Boolean
is_active = True

How should you know the type ?


*   In python, there is a function called type()
*   Which returns the type of the variable that is passed to it


*   **syntax : type(variabbleName)**

In [4]:
# Integer
age = 30
age_type = type(age)

# Float
pi = 3.14159
pi_type = type(pi)

# String
greeting = "Hello, World!"
greeting_type = type(greeting)

# Boolean
is_active = True
is_active_type = type(is_active)

##Output

In [5]:
#simple print statement
print("Hey Everyone")

Hey Everyone

In [8]:
#printing constants
print(10)
print(0.99)

10
0.99

In [6]:
name = "ramu"
#printing values from variables
print("I'm",name)

I'm  ramu

In [7]:
length = 5
breadth = 3
#printing values from expression
print("The area of rectangle is",length*breadth)

The area of rectangle is 15

##Input

In [9]:
#Getting string input from keyboard
inp = input()
print(inp)
print(type(inp))

hello
hello
<class 'str'>

In [12]:
"""
Getting integer input from keyboard‚ùå
inp = input()
print(inp)
print(type(inp))
"""
#To get integer input, convert to int‚úÖ
inp = int(input())
print(inp)
print(type(inp))

5
5
<class 'type'>

In [13]:
#To get float input, convert to float‚úÖ
inp = float(input())
print(inp)
print(type(inp))

54.34
54.34
<class 'float'>

In [23]:
#To get float input, convert to boolean‚úÖ
inp = bool(input())
print(inp)
print(type(inp))

# ** only empty string gives false else true üìå

False
<class 'bool'>

In [27]:
#Giving description for the input
name = input("enter your name: ")
print("Nice to meet you",name,"!")

enter your name: sai
Nice to meet you sai !

##Operators

###Arithmetic Operators

In [1]:
# Addition
result = 5 + 3  # result is 8

# Subtraction
result = 5 - 3  # result is 2

# Multiplication
result = 5 * 3  # result is 15

# Division
result = 5 / 3  # result is 1.666...

# Modulus
result = 5 % 3  # result is 2

# Exponentiation
result = 5 ** 3  # result is 125

# Floor Division
result = 5 // 3  # result is 1

###Assignment operators

In [3]:
# Simple assignment
x = 5

# Add and assign
x += 3  # equivalent to x = x + 3

# Subtract and assign
x -= 3  # equivalent to x = x - 3

# Multiply and assign
x *= 3  # equivalent to x = x * 3

# Divide and assign
x /= 3  # equivalent to x = x / 3

# Modulus and assign
x %= 3  # equivalent to x = x % 3

# Exponentiation and assign
x **= 3  # equivalent to x = x ** 3

# Floor Division and assign
x //= 3  # equivalent to x = x // 3

###Comparison Operators

In [4]:
# Equal to
result = 5 == 3  # result is False

# Not equal to
result = 5 != 3  # result is True

# Greater than
result = 5 > 3  # result is True

# Less than
result = 5 < 3  # result is False

# Greater than or equal to
result = 5 >= 3  # result is True

# Less than or equal to
result = 5 <= 3  # result is False

###Logical Operators

In [6]:
# Logical AND
result = (5 > 3) and (3 > 1)  # result is True

# Logical OR
result = (5 > 3) or (3 > 5)  # result is True

# Logical NOT
result = not (5 > 3)  # result is False

###Identity Operators

In [5]:
# Identity operators
a = [1, 2, 3]
b = a

# is
result = a is b  # result is True

# is not
result = a is not b  # result is False

c = a[:]
result = a is c  # result is False
result = a == c  # result is True

###Membership Operators

In [7]:
# Membership operators
lst = [1, 2, 3, 4, 5]

# in
result = 3 in lst  # result is True

# not in
result = 6 not in lst  # result is True

##Data Structures

###List

In [9]:
# Creating a list
my_list = [1, 2, 3, 4, 5]
print("Initial list:", my_list)

# Accessing elements
first_element = my_list[0]
last_element = my_list[-1]
print("First element:", first_element)
print("Last element:", last_element)

# Modifying elements
my_list[0] = 10
print("After modifying first element:", my_list)

# Append: Adds an element at the end of the list
my_list.append(6)
print("After append:", my_list)

# Insert: Inserts an element at a specified position
my_list.insert(1, 15)
print("After insert:", my_list)

# Extend: Adds all elements of another list to the end
my_list.extend([7, 8])
print("After extend:", my_list)

# Remove: Removes the first item with the specified value
my_list.remove(15)
print("After remove:", my_list)

# Pop: Removes the element at the specified position and returns it
last_element = my_list.pop()
print("Popped last element:", last_element)
print("After pop last element:", my_list)
specific_element = my_list.pop(1)
print("Popped specific element:", specific_element)
print("After pop specific element:", my_list)

# Clear: Removes all elements from the list
my_list.clear()
print("After clear:", my_list)

# Recreating list for further methods
my_list = [1, 2, 3, 4, 5, 2]
print("Recreated list:", my_list)

# Index: Returns the index of the first occurrence of the specified value
index_of_2 = my_list.index(2)
print("Index of first 2:", index_of_2)

# Count: Returns the number of elements with the specified value
count_of_2 = my_list.count(2)
print("Count of 2s:", count_of_2)

# Sort: Sorts the list in ascending order
my_list.sort()
print("After sort:", my_list)

# Sort in descending order
my_list.sort(reverse=True)
print("After sort descending:", my_list)

# Reverse: Reverses the elements of the list
my_list.reverse()
print("After reverse:", my_list)

# Copy: Returns a shallow copy of the list
new_list = my_list.copy()
print("Copied list:", new_list)

# List comprehensions: Creating a list using an expression
squares = [x**2 for x in my_list]
print("Squares list:", squares)

# Combining list methods
my_list.append(6)
my_list.insert(0, 0)
my_list.extend([7, 8, 9])
my_list.remove(2)
popped_element = my_list.pop()
index_of_4 = my_list.index(4)
count_of_3 = my_list.count(3)
my_list.sort()
my_list.reverse()
copied_list = my_list.copy()
my_list.clear()

# Printing the list after various operations
print("Final my_list after various operations:", my_list)
print("Copied list after various operations:", copied_list)
print("Squares list after various operations:", squares)

Initial list: [1, 2, 3, 4, 5]
First element: 1
Last element: 5
After modifying first element: [10, 2, 3, 4, 5]
After append: [10, 2, 3, 4, 5, 6]
After insert: [10, 15, 2, 3, 4, 5, 6]
After extend: [10, 15, 2, 3, 4, 5, 6, 7, 8]
After remove: [10, 2, 3, 4, 5, 6, 7, 8]
Popped last element: 8
After pop last element: [10, 2, 3, 4, 5, 6, 7]
Popped specific element: 2
After pop specific element: [10, 3, 4, 5, 6, 7]
After clear: []
Recreated list: [1, 2, 3, 4, 5, 2]
Index of first 2: 1
Count of 2s: 2
After sort: [1, 2, 2, 3, 4, 5]
After sort descending: [5, 4, 3, 2, 2, 1]
After reverse: [1, 2, 2, 3, 4, 5]
Copied list: [1, 2, 2, 3, 4, 5]
Squares list: [1, 4, 4, 9, 16, 25]
Final my_list after various operations: []
Copied list after various operations: [8, 7, 6, 5, 4, 3, 2, 1, 0]
Squares list after various operations: [1, 4, 4, 9, 16, 25]

###Tuple

In [10]:
# Creating Tuples
empty_tuple = ()
single_element_tuple = (1,)  # Note the comma
multi_element_tuple = (1, 2, 3, 4, 5)

# Without parentheses (tuple packing)
packed_tuple = 1, 2, 3, 4, 5

# Tuple unpacking
a, b, c, d, e = packed_tuple

# Accessing Elements
first_element = multi_element_tuple[0]  # 1
last_element = multi_element_tuple[-1]  # 5

# Slicing
sliced_tuple = multi_element_tuple[1:3]  # (2, 3)

# Tuple Methods
# Count: Returns the number of times a specified value appears in the tuple
count_of_2 = multi_element_tuple.count(2)  # 1

# Index: Returns the index of the first occurrence of the specified value
index_of_4 = multi_element_tuple.index(4)  # 3

# Tuple Operations
# Concatenation: Combining tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2  # (1, 2, 3, 4, 5, 6)

# Repetition: Repeating elements in a tuple
repeated_tuple = tuple1 * 2  # (1, 2, 3, 1, 2, 3)

# Membership: Checking if an element exists in the tuple
is_in_tuple = 3 in tuple1  # True
is_not_in_tuple = 7 not in tuple1  # True

# Tuple Functions
# len: Returns the number of elements in the tuple
length = len(multi_element_tuple)  # 5

# max: Returns the largest element in the tuple
max_element = max(multi_element_tuple)  # 5

# min: Returns the smallest element in the tuple
min_element = min(multi_element_tuple)  # 1

# sum: Returns the sum of all elements in the tuple
sum_of_elements = sum(multi_element_tuple)  # 15

# Converting Between Lists and Tuples
# Converting a list to a tuple
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)  # (1, 2, 3, 4, 5)

# Converting a tuple to a list
my_new_list = list(my_tuple)  # [1, 2, 3, 4, 5]

# Nested Tuples
nested_tuple = (1, 2, (3, 4), 5)
inner_tuple = nested_tuple[2]  # (3, 4)
inner_element = nested_tuple[2][0]  # 3

# Printing the Tuple
print("Multi Element Tuple:", multi_element_tuple)
print("Sliced Tuple:", sliced_tuple)
print("Concatenated Tuple:", concatenated_tuple)
print("Repeated Tuple:", repeated_tuple)
print("Nested Tuple:", nested_tuple)
print("Inner Tuple:", inner_tuple)
print("Inner Element:", inner_element)

Multi Element Tuple: (1, 2, 3, 4, 5)
Sliced Tuple: (2, 3)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)
Repeated Tuple: (1, 2, 3, 1, 2, 3)
Nested Tuple: (1, 2, (3, 4), 5)
Inner Tuple: (3, 4)
Inner Element: 3

###Set

In [11]:
# Creating a Set
my_set = {1, 2, 3, 4, 5}

# Adding Elements
my_set.add(6)  # my_set is now {1, 2, 3, 4, 5, 6}

# Removing Elements
my_set.remove(6)  # my_set is now {1, 2, 3, 4, 5}
my_set.discard(6)  # my_set is still {1, 2, 3, 4, 5}
popped_element = my_set.pop()  # popped_element is 1 (or another element), my_set is now {2, 3, 4, 5}
my_set.clear()  # my_set is now set()

# Recreating Set for Further Methods
my_set = {1, 2, 3, 4, 5}

# Set Operations
another_set = {4, 5, 6, 7, 8}
union_set = my_set.union(another_set)  # union_set is {1, 2, 3, 4, 5, 6, 7, 8}
intersection_set = my_set.intersection(another_set)  # intersection_set is {4, 5}
difference_set = my_set.difference(another_set)  # difference_set is {1, 2, 3}
symmetric_difference_set = my_set.symmetric_difference(another_set)  # symmetric_difference_set is {1, 2, 3, 6, 7, 8}

# Set Methods
copied_set = my_set.copy()  # copied_set is {1, 2, 3, 4, 5}
my_set.update(another_set)  # my_set is now {1, 2, 3, 4, 5, 6, 7, 8}
my_set.intersection_update({4, 5, 9})  # my_set is now {4, 5}
my_set.difference_update({4})  # my_set is now {5}
my_set.symmetric_difference_update({5, 6})  # my_set is now {6}

# Set Comparisons
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
is_subset = set_a.issubset(set_b)  # is_subset is True
is_superset = set_b.issuperset(set_a)  # is_superset is True
is_disjoint = set_a.isdisjoint({6, 7, 8})  # is_disjoint is True

# Creating a Frozen Set
frozen_set = frozenset([1, 2, 3, 4, 5])

# Printing Sets
print("My Set:", my_set)
print("Another Set:", another_set)
print("Union Set:", union_set)
print("Intersection Set:", intersection_set)
print("Difference Set:", difference_set)
print("Symmetric Difference Set:", symmetric_difference_set)
print("Copied Set:", copied_set)
print("Frozen Set:", frozen_set)
print("Is Subset:", is_subset)
print("Is Superset:", is_superset)
print("Is Disjoint:", is_disjoint)

My Set: {6}
Another Set: {4, 5, 6, 7, 8}
Union Set: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection Set: {4, 5}
Difference Set: {1, 2, 3}
Symmetric Difference Set: {1, 2, 3, 6, 7, 8}
Copied Set: {1, 2, 3, 4, 5}
Frozen Set: frozenset({1, 2, 3, 4, 5})
Is Subset: True
Is Superset: True
Is Disjoint: True

###Dictionary

In [8]:
# Creating a Dictionary
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}

# Accessing Elements
name = my_dict['name']  # 'Alice'
age = my_dict.get('age')  # 25

# Modifying Elements
my_dict['age'] = 26  # my_dict is now {'name': 'Alice', 'age': 26, 'city': 'New York'}

# Adding Elements
my_dict['email'] = 'alice@example.com'  # my_dict is now {'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'alice@example.com'}

# Dictionary Methods

# Update: Updates the dictionary with elements from another dictionary or from an iterable of key-value pairs
my_dict.update({'age': 27, 'city': 'Boston'})  # my_dict is now {'name': 'Alice', 'age': 27, 'city': 'Boston', 'email': 'alice@example.com'}

# Pop: Removes the element with the specified key and returns its value
email = my_dict.pop('email')  # 'alice@example.com', my_dict is now {'name': 'Alice', 'age': 27, 'city': 'Boston'}

# Popitem: Removes the last inserted key-value pair and returns it as a tuple
last_item = my_dict.popitem()  # ('city', 'Boston'), my_dict is now {'name': 'Alice', 'age': 27}

# Clear: Removes all elements from the dictionary
my_dict.clear()  # my_dict is now {}

# Recreating Dictionary for Further Methods
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}

# Keys: Returns a view object that displays a list of all the keys in the dictionary
keys = my_dict.keys()  # dict_keys(['name', 'age', 'city'])

# Values: Returns a view object that displays a list of all the values in the dictionary
values = my_dict.values()  # dict_values(['Alice', 25, 'New York'])

# Items: Returns a view object that displays a list of dictionary's key-value tuple pairs
items = my_dict.items()  # dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

# Copy: Returns a shallow copy of the dictionary
new_dict = my_dict.copy()  # new_dict is {'name': 'Alice', 'age': 25, 'city': 'New York'}

# fromkeys: Creates a new dictionary from the given sequence of elements with a value provided by the user
keys = ['name', 'age', 'city']
default_value = None
another_dict = dict.fromkeys(keys, default_value)  # another_dict is {'name': None, 'age': None, 'city': None}

# setdefault: Returns the value of the specified key. If the key does not exist, inserts the key with the specified value
age = my_dict.setdefault('age', 30)  # 25 (since 'age' exists), my_dict remains unchanged
nickname = my_dict.setdefault('nickname', 'Ali')  # 'Ali', my_dict is now {'name': 'Alice', 'age': 25, 'city': 'New York', 'nickname': 'Ali'}

# Printing the dictionary after various operations
print("My Dict:", my_dict)
print("Keys:", list(keys))
print("Values:", list(values))
print("Items:", list(items))
print("Copied Dict:", new_dict)
print("Another Dict:", another_dict)

My Dict: {'name': 'Alice', 'age': 25, 'city': 'New York', 'nickname': 'Ali'}
Keys: ['name', 'age', 'city']
Values: ['Alice', 25, 'New York', 'Ali']
Items: [('name', 'Alice'), ('age', 25), ('city', 'New York'), ('nickname', 'Ali')]
Copied Dict: {'name': 'Alice', 'age': 25, 'city': 'New York'}
Another Dict: {'name': None, 'age': None, 'city': None}

##Conditionals

###Simple if

In [12]:
# Example 1: Simple if statement
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

### if - else

In [13]:
# Example 2: if-else statement
x = 3
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is odd

###if - elif - ladder

In [14]:
# Example 3: if-elif-else statement
x = 80
if x > 90:
    print("Grade is A")
elif x > 80:
    print("Grade is B")
elif x > 70:
    print("Grade is C")
else:
    print("Grade is D")

Grade is C

###Nested if

In [15]:
# Example: Nested if statements
x = 10
if x > 5:
    print("x is greater than 5")
    if x % 2 == 0:
        print("x is even")
    else:
        print("x is odd")
else:
    print("x is not greater than 5")

x is greater than 5
x is even

##Loops

### for - loop

In [16]:
# Example 1: Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Example 2: Iterating over a range
for i in range(5):
    print(i)

apple
banana
cherry
0
1
2
3
4

###while - loop

In [17]:
# Example: while loop to count down from 5 to 1
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

##Functions

###Simple Functions

In [19]:
# Example: Defining a basic function
def greet():
    print("Hello, world!")

# Calling the function
greet()

Hello, world!

###Functions with parameters

In [20]:
# Example: Function with parameters
def greet(name):
    print("Hello, " + name + "!")

# Calling the function with an argument
greet("Alice")

Hello, Alice!

###Functions with default parameters

In [21]:
# Example: Function with default parameters
def greet(name="world"):
    print("Hello, " + name + "!")

# Calling the function without an argument
greet()  # Output: Hello, world!

# Calling the function with an argument
greet("Alice")  # Output: Hello, Alice!

Hello, world!
Hello, Alice!

###Function with Return statement

In [22]:
# Example: Function returning a value
def add(a, b):
    return a + b

# Calling the function and storing the result
result = add(3, 5)
print(result)  # Output: 8

8

###Recursive Functions

In [23]:
# Example: Recursive function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Calling the function
result = factorial(5)
print(result)  # Output: 120 (5! = 5 * 4 * 3 * 2 * 1)

120